body {
  background-image: url("./images/bg-intro-desktop.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 30px;
  margin: 50px;
}

.form-container {
  background-color: rgb(255, 102, 102);
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 20px;
}

.inputs-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 20px;
  padding: 20px;
}

input {
  height: 50px;
  width: 300px;
  padding: 10px 10px 10px 20px;
  font-size: medium;
  font-weight: 500;
  color: darkgray;
  border-radius: 5px;
  border-style: none;
}

button {
  height: 50px;
  width: 300px;
}